<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>사원 정보</h2>
<form method="post" action="insert_emp">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>사번</td>
            <td><input name="empno" required placeholder="숫자만 입력하세요"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input name="ename"></td>
        </tr>
        <tr>
            <td>직급</td>
            <td><input name="job"></td>
        </tr>
        <tr>
            <td>입사일자</td>
            <td><input type="date" name="hiredate"></td>
        </tr>
        <tr>
            <td>급여</td>
            <td><input type="number" name="sal"></td>
        </tr>
        <tr align="center">
            <td colspan="2">
            <input type="submit" value="확인">
            </td>
        </tr>
    </table>
</form>
</body>
</html>