<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        function home(){
            location.href="/"
        }

        function update(){
            document.form1.action="update"
            document.form1.submit();
        }

        function del(){
            document.form1.action="delete"
            document.form1.submit();
        }
    </script>
    <title>Title</title>
</head>
<body>
<form method="post" name="form1" enctype="multipart/form-data">

      {% csrf_token %}

        <table border="1" width="700px">

            <tr>

                <td>조회수</td>

                <td>{{row.hit}}</td>

            </tr>

            <tr>
             <td> 이름</td>
                <td><input name="writer" value="{{row.writer}}"></td>
            </tr>

            <tr>
                <td> 제목</td>
                <td><input name="title" value="{{row.title}}"></td>
            </tr>
            <tr>
                <td> 날짜</td>
                <td>{{row.post_date}}</td>
            </tr>

            <tr>
                <td> 내용</td>
                <td><textarea name="content" rows="5" cols="60">{{row.content}}</textarea></td>
            </tr>

            <tr>
                <td> 첨부파일</td>
                <td>
                    {% if row.filesize > 0 %}
                        <a href="download?idx={{row.idx}}">{{row.filename}}</a>
                        ( {{filesize}}KB )
                        <br>
                    {% endif %}
                    <input type="file" name="file">
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="hidden" name="idx" value="{{row.idx}}">
                    <input type="button" value="목록" onclick="home()">
              <input type="button" value="수정" onclick="update()">
                    <input type="button" value="삭제" onclick="del()">
                </td>
            </tr>

        </table>
    </form>

    <!-- 댓글 작성 -->

    <form method="post" action="reply_insert">

      {% csrf_token %}

      <input name="writer" placeholder="이름"><br>

      <textarea rows="5" cols="80" name="content"

      placeholder=" 댓글을 작성하세요"></textarea><br>

      <input type="hidden" name="idx" value="{{row.idx}}">

      <button> 댓글쓰기</button>

    </form>

    <!-- 댓글 목록을 출력할 영역 -->

    <table border="1" width="700px">

        {% for row in commentList %}

        <tr>

           <td>

               {{row.writer}} ( {{row.post_date}} )<br>

                {{row.content}}

            </td>

        </tr>

        {% endfor %}

    </table>
</body>
</html>