<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.6.4.js"></script>
    <script>
    $(function() {
        $("#btnList").click(function() {
            location.href = "product_list";
        });
        $("#btnDelete").click(function() {
            if (confirm("장바구니를 비우시겠습니까?")) {
                location.href = "/shop/cart_del_all";
            }
        });
    });
</script>
</head>
<body>
<h2>장바구니</h2>
{% if cartCount == 0 %}
 장바구니가 비었습니다.
{% else %}
    <form name="form1" method="post" action="cart_update">
        {% csrf_token %}
        <table border="1" width="400px;">
            <tr>
                <th>상품명</th>
                <th>단가</th>
                <th>수량</th>
                <th>금액</th>
                <th>&nbsp;</th>
            </tr>
            <!-- forEach var="개별변수" items="집합변수" -->
            {% for row in cartList %}
            <tr>
                <td><span>{{row.product_name}}</span></td>
                <td>{{row.price}}</td>
                <td>
                    <!--수량-->
                    <input type="number" style="width:50px;" min="0" max="100" name="amount" value="{{row.amount}}">
                    <!-- 개별상품 코드값을 hidden 으로 넘김 -->
                    <input type="hidden" name="cart_id" value="{{row.cart_id}}">
                    <input type="hidden" name="product_id" value="{{row.product_id}}">
                </td>
                <td>{{row.money}}</td>
                <td><a href="cart_del?cart_id={{row.cart_id}}">삭제</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5" align="right">
                    장바구니 금액 합계 : {{sumMoney}}<br>
                    배송료 : {{fee}}<br>
                    총합계 : {{total}}
                </td>
            </tr>
        </table>
        <button id="btnUpdate">수정</button>
    </form>
<button type="button" id="btnDelete">장바구니 비우기</button>
{% endif %}
<button type="button" id="btnList">상품목록</button>
</body>
</html>