<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script>
function product_delete(){
    if(confirm("삭제하시겠습니까?")){
        document.form1.action="product_delete";
        document.form1.submit();
    }
}
function product_update() {
    var product_name = document.form1.product_name.value;
    var price = document.form1.price.value;
    var description = document.form1.description.value;
    if (product_name == "") {
        alert("상품명을 입력하세요.");
        document.form1.product_name.focus();
        return;
    }
    if (price == "") {
        alert("가격을 입력하세요.");
        document.form1.price.focus();
        return;
    }
    if (description == "") {
        alert("상품설명을 입력하세요.");
        document.form1.description.focus();
        return;
    }
    document.form1.action = "product_update";
    document.form1.submit();
}
</script>
</head>
<body>
<form name="form1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table>
    <tr>
        <td>상품명</td>
        <td><input name="product_name" value="{{row.product_name}}"></td>
    </tr>
    <tr>
        <td>가격</td>
        <td><input name="price" value="{{row.price}}"></td>
    </tr>
    <tr>
        <td>상품설명</td>
        <td><textarea rows="5" cols="60"
            name="description"
            id="description">{{row.description}}</textarea>
        </td>
    </tr>
    <tr>
        <td>상품이미지</td>
        <td>
           {% load static %}
            {% static "" as baseUrl %}
            <img src="{{baseUrl}}images/{{row.picture_url}}" width="300px" height="300px" >
            <br>
            <input type="file" name="file1">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="hidden" name="product_id" value="{{row.product_id}}">
            <input type="button" value="수정" onclick="product_update()">
            <input type="button" value="삭제" onclick="product_delete()">
            <input type="button" value="목록" onclick="location.href='product_list';">
        </td>
    </tr>
</table>
</form>
</body>
</html>