<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h2>상품정보</h2>
<table>
  <tr>
   <td>
       {% load static %}
        {% static "" as baseUrl %}
        <img src="{{baseUrl}}images/{{row.picture_url}}" width="300px" height="300px" >
   </td>
      <td align="center">
      <table>
        <tr>
          <td>상품명</td>
          <td>{{row.product_name}}</td>
        </tr>
        <tr>
          <td>가격</td>
          <td>{{row.price}}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>{{row.description}}</td>
        </tr>
        <!-- 장바구니에 담기 기능 -->
          <tr>
          <td colspan="2">
    <form name="form1" method="post" action="cart_insert">
    {% csrf_token %}
      <input type="hidden" name="product_id"
       value="{{row.product_id}}">
      <select name="amount">
        {% for i in range %}
          <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>&nbsp;개
      <input type="submit" value="장바구니에 담기">
    </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>