<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>놀이동산 만족도</h2>
<form method="post" action="result">
    <table>
        <tr>
            <td>자녀수</td>
            <td><input type="text" name="a"></td>
        </tr>
        <tr>
            <td>거리</td>
            <td><input type="text" name="b"></td>
        </tr>
        <tr>
            <td>놀이기구점수</td>
            <td><input type="text" name="c"></td>
        </tr>
        <tr>
            <td>게임점수</td>
            <td><input type="text" name="d"></td>
        </tr>
        <tr>
            <td>대기시간점수</td>
            <td><input type="text" name="e"></td>
        </tr>
        <tr>
            <td>청결도</td>
            <td><input type="text" name="f"></td>
        </tr>
        <tr>
            <td>주말여부</td>
            <td>
                <input type="radio" name="g" value="0"> 평일
                <input type="radio" name="g" value="1"> 주말
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
            <input type="submit" value="확인">
            </td>
        </tr>
    </table>
</form>
</body>
</html>