<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>시작 페이지</h2>
<a href="admin/">관리자</a><br>
<a href="address/">주소록</a><br>
<a href="memo/">한줄메모장</a><br>
<a href="book/">도서관리</a><br>
<a href="transaction/">트랜잭션 처리</a><br>
<a href="procedure/">저장프로시저 활용</a><br>
<a href="mymember/">회원관리</a><br>
<a href="ajax/">ajax</a><br>
<a href="survey/">설문조사</a><br>
<a href="guestbook/">방명록</a><br>
<a href="shop/product_list">상품관리</a><br>
</body>
</html>