<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% if msg == 'error' %}
    <script>alert('비밀번호를 확인하세요')</script>
    {% endif %}
</head>
<body>
<h2>방명록</h2>
{{gbCount}}개의 글이 있습니다.
<form name="form1" method="post">
    {% csrf_token %}
    <select name="searchkey">
        {% if searchkey == 'name' %}
            <option value="name">이름</option>
            <option value="content">내용</option>
            <option value="name_content">이름+내용</option>
        {% elif searchkey == 'content' %}
            <option value="name">이름</option>
            <option value="content" selected>내용</option>
            <option value="name_content">이름+내용</option>
        {% else %}
        <option value="name">이름</option>
        <option value="content">내용</option>
        <option value="name_content" selected>이름+내용</option>
        {% endif %}
    </select>
    <input name="search" value="{{search}}">
    <input type="submit" value="조회">
</form>
<input type="button" value="Home" onclick="location.href='/'">
<input type="button" value="글쓰기" onclick="location.href='/guestbook/write'">
{% for row in gbList %}
<form method="post" action="/guestbook/passwd_check">
{% csrf_token %}
<input type="hidden" name="idx" value="{{row.idx}}">
    <table border="1" width="600px">
        <tr>
            <td>이름</td>
            <td>{{row.name}}</td>
            <td>날짜</td>
            <td>{{row.post_date | date:'Y-m-d'}}</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td colspan="3">{{row.email}}</td>
         </tr>
        <tr>
            <td colspan="4">{{row.content}}</td>
        </tr>
        <tr>
            <td colspan="4">
                비밀번호 <input type="password" name="passwd">
                <input type="submit" value="수정/삭제">
            </td>
        </tr>
    </table>
</form>
{% endfor %}
</body>
</html>